*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(9deg, rgba(103,167,251,1) 31%, rgba(82,151,235,1) 79%);
}
.container{
    width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 3px 9px 6px;
}
.form h1{
    text-align: center;
    margin: 3rem 0;
    text-transform: capitalize;
}

.form input {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid rgba(103,167,251,1);
    outline: none;
    padding-left: 1rem ;
    margin: 1rem 0;
}

.form #btn{
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background: linear-gradient(9deg, rgba(103,167,251,1) 31%, rgba(82,151,235,1) 79%);
    margin: 1rem 0;
    margin-bottom: 2rem;
    cursor: pointer;

    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}
.form #btn:hover{
    background: linear-gradient(20deg, rgb(118, 169, 235) 31%, rgb(74, 140, 220) 79%);

}

